body{
    background-image: url(../img/quadroNegro.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

header{
    min-height: 8vh;
    display: flex;
    align-items: left;
   
    background-color: #253046;
    color: seashell;
}

h1{
    font-size: 2.5em;
    color: #fff;
}

main{
    margin-left: 25%;
    width: 50%;
    min-width: 100vh;
    display: flex;
    justify-content: center;
    opacity: 10;
}

label{
    border-radius: 7px;
    font-weight: bold;
    font-size: 25px;
    color: rgb(255, 255, 255) ;
}

input{
   box-shadow: 0px,0px,0px,0.25px;
}

footer{
    min-height: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #253046;
    color: seashell;
}




